html {
  box-sizing: border-box;
}
body {
  width: 1000px;
  height: 700px;
  
}

.container {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  
}

.main-image {
  width:900px;
  height:600px;

}
